/* importing fonts from fonts.google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #0a0908;
  --secondary: #fff;
  --grey: #f7f7f8;
  --grey2: #ededed;
  --blue1: #22333b;
  --blue2: #ebf0f3;
  --brown1: #eae0d5;
  --brown2: #c6ac8f;
  --brown3: #5e503f;
  --green1: #81b29a;
  --green2: #344e41;
  --red1: #c1121f;
  --red2: #780000;
}

#root {
  display: flex;
  flex-direction: row;
}

body {
  line-height: 1.5rem;
  color: var(--primary);
  background-color: var(--secondary);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 2.2em;
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
}

.navContainer {
  width: 65px;
  height: 100vh;
}

/* MOBILE VERSION */
@media (max-width: 800px) {
  #root {
    flex-direction: column;
  }

  .navContainer {
    width: 100vw;
    height: 65px;
  }
}


/* FADE IN */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  opacity: 0;
}